<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
           <link rel="stylesheet" type="text/css" href="stylesheets/divy.css">
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
           <script type="text/javascript" src="javascripts/validate.js"></script>
           <script type="text/javascript">
           function mouseoverPass(obj) {
             var obj = document.getElementById('myPassword');
             obj.type = "text";
           }
           function mouseoutPass(obj) {
             var obj = document.getElementById('myPassword');
             obj.type = "password";
           }
           function mouseoverPass1(obj) {
             var obj = document.getElementById('myPassword1');
             obj.type = "text";
           }
           function mouseoutPass1(obj) {
             var obj = document.getElementById('myPassword1');
             obj.type = "password";
           }
           </script>
    </head>
    <body>

         <nav class="navbar navbar-inverse ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="images/divy1.png" class="navbar-brand" alt="Responsive image">
                <a class="navbar-brand" href="/">Online Exam System</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Registration</h4>
                </div>
                <div class="panel-body">
                    <p class="text-warning"><i><b>Login to take test</b></i></p>
                    <form action="/register" method="post" name="registration" autocomplete="on" onsubmit="return validateRegister()" encType="multipart/form-data">
                        <div class="form-group">
                            <label for="Roll_no"> Roll no*:</label>
                            <input type="text" class="form-control" name="roll" placeholder="Type roll no here" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="Name">Name*:</label>
                            <input type="text"  class="form-control" name="name" placeholder="Type name here">
                        </div>
                        <div class="form-group">
                            <label for="Branch">Branch:</label>
                            <input type="text" class="form-control" name="branch" placeholder="Type branch here">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email*:</label>
                            <input type="text" class="form-control" name="email" placeholder="Type email here">
                        </div>
                        <div class="form-group">
                            <label for="Mobile_no">Mobile No:</label>
                            <input type="text" class="form-control" name="mob" placeholder="Type Mobile no here">
                        </div>
                        <div class="form-group">
                            <label for="Password">Password*:
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();"></span>
                            </label>
                            <input type="password" id="myPassword" class="form-control" name="pass1" placeholder="Type password here">
                        </div>
                        <div class="form-group">
                            <label for="Confirm_Password">Confirm Password*:
                              <span class="glyphicon glyphicon-eye-open" aria-hidden="true" onmouseover="mouseoverPass1();" onmouseout="mouseoutPass1();"></span>
                            </label>
                            <input type="password" class="form-control" id="myPassword1" name="pass2" placeholder="Retype password here">
                        </div>
                        <div class="form-group">
                            <label for="file">Upload Your Image:</label>
                            <input type="file" class="form-control" alt="images/divy.png" name="img">
                        </div>
                        <input type="submit" value="Submit" class="inpu">
                    </form>
                        </div>
                    </div>
                </div>


                <div class="footer2">
                     <footer>
                            <center> “Copyright © online test system. All Right Reserved” ​and “Contact Us: +91 90000 00000”</center>
                    </footer>
                </div>
    </body>
</html>
